<div *ngIf="!isLogged">
    <ng-container>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <a href="/login" id="person">
                        <img src="../../assets/images/person.png" alt="Ícone" height="50"
                            class="d-inline-block align-top" title="Fazer Login">
                        <span id="person-label">Fazer Login</span>
                    </a>
                </div>
            </div>
        </nav>
    </ng-container>
    <div class="container-fluid" style="padding: 0;">
        <div class="row justify-content-center align-items-center">
            <div class="col" style="padding: 0;">
                <div>
                    <div class="home-overlay"></div>
                </div>

                <div class="content">
                    <img src="../../assets/images/logo.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isLogged">
    <ng-container>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    </ul>
                    <a href="/mydata" id="person">
                        <img src="../../assets/images/person.png" alt="Ícone" height="50"
                            class="d-inline-block align-top" title="Fazer Login">
                        <span id="person-label">Meus Dados</span>
                    </a>
                </div>
            </div>
        </nav>
    </ng-container>

    <div class="container-fluid" style="padding: 0;">
        <div class="row justify-content-center align-items-center">
            <div class="col" style="padding: 0;">
                <div>
                    <div class="home-overlay"></div>
                </div>

                <div class="content">
                    <h2>AAAAAAA</h2>
                </div>
            </div>
        </div>
    </div>
</div>