<ng-container>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <a href="/" id="back-button">
                    <span id="back-button-label">Voltar</span>
                </a>
            </div>
        </div>
    </nav>
</ng-container>
<div class="container fluid jobs">
    <div *ngIf="showList" class="jobs-container-list p-5">
        <h2 class="text-center mb-4">Serviços</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Duração<br>(minutos)</th>
                    <th scope="col">Duração do intervalo<br>(minutos)</th>
                    <th scope="col">Início do intervalo<br>(minutos)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let job of jobs">
                    <th scope="row">{{job.name}}</th>
                    <th scope="row">{{job.description}}</th>
                    <th scope="row">{{job.duration}}</th>
                    <th scope="row">{{job.intervalDuration}}</th>
                    <th scope="row">{{job.startInterval}}</th>
                    <th scope="row">
                        <button class="btn btn-primary" (click)="openDetails(job)">Editar</button>
                        <button class="btn btn-danger" (click)="delete(job)">Excluir</button>
                    </th>
                </tr>
            </tbody>
        </table>
        <div class="btn-container">
            <button (click)="createNew()" id="btn-create-new" class="btn btn-primary">Criar Novo</button>
        </div>
    </div>
    <div *ngIf="!showList" class="jobs-container p-5">
        <h2 class="text-center mb-4">Registrar</h2>
        <form (ngSubmit)="save()" (reset)="cancel()" [formGroup]="jobsForm" #formDir="ngForm">
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" placeholder="Insira o nome" formControlName="name"
                    [(ngModel)]="job.name" name="name">
                <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="name.errors?.['required']">O nome é obrigatório!</p>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <input type="text" class="form-control" id="description" placeholder="Insira a descrição" formControlName="description"
                    [(ngModel)]="job.description" name="description">
                <div *ngIf="description.invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="description.errors?.['required']">O nome é obrigatório!</p>
                </div>
            </div>
            <div class="form-group">
                <label for="duration">Duração (minutos)</label>
                <input type="number" max="500" min="0" class="form-control" id="duration" placeholder="Insira a duração" formControlName="duration"
                    [(ngModel)]="job.duration" name="duration">
                <div *ngIf="duration.invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="duration.errors?.['required']">O nome é obrigatório!</p>
                    <p *ngIf="duration.errors?.['rangeError']">O valor deve estar entre 0 e 500.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="intervalDuration">Duração do intervalo (minutos)</label>
                <input type="number" max="500" min="0" class="form-control" id="name" placeholder="Insira a duração do intervalo" formControlName="intervalDuration"
                    [(ngModel)]="job.intervalDuration" name="intervalDuration">
                <div *ngIf="intervalDuration.invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="intervalDuration.errors?.['required']">O nome é obrigatório!</p>
                    <p *ngIf="intervalDuration.errors?.['rangeError']">O valor deve estar entre 0 e 500.</p>
                </div>
            </div>
            <div class="form-group">
                <label for="startInterval">Início do intervalo (minutos)</label>
                <input type="number" max="500" min="0" class="form-control" id="startInterval" placeholder="Insira o início do intervalo" formControlName="startInterval"
                    [(ngModel)]="job.startInterval" name="startInterval">
                <div *ngIf="startInterval.invalid && formDir.submitted" class="validation-error">
                    <p *ngIf="startInterval.errors?.['required']">O nome é obrigatório!</p>
                    <p *ngIf="startInterval.errors?.['rangeError']">O valor deve estar entre 0 e 500.</p>
                </div>
            </div>
            <button id="btn-save" type="submit" class="btn btn-primary">Salvar</button>
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        </form>
    </div>
</div>