<ng-container>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <a href="/" id="back-button">
          <span id="back-button-label">Voltar</span>
        </a>
      </div>
    </div>
  </nav>
</ng-container>
<div class="container fluid register">
  <div class="register-container p-5">
    <h2 class="text-center mb-4">Registrar</h2>
    <form (ngSubmit)="post()" [formGroup]="registerForm" #formDir="ngForm">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" placeholder="Insira seu nome" formControlName="name" [(ngModel)]="user.Name" name="name">
        <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="name.errors?.['required']">O nome é obrigatório!</p>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Insira seu email" formControlName="email" [(ngModel)]="user.Email" name="email">
        <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="email.errors?.['required']">O email é obrigatório!</p>
          <p *ngIf="email.errors?.['email']">O email está inválido!</p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" class="form-control" id="password" placeholder="Insira sua senha" formControlName="password" [(ngModel)]="user.Password" name="password">
        <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
          <p *ngIf="password.errors?.['required']">A senha é obrigatória!</p>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirme a Senha</label>
        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirme sua senha" formControlName="confirmPassword">
        <div *ngIf="formDir.submitted" class="validation-error">
          <p *ngIf="confirmPassword.errors?.['required']">A confirmação de senha é obrigatória!</p>
          <p *ngIf="registerForm.errors?.['notSame']">As duas senhas não coincidem!</p>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Registrar</button>
    </form>
    <div class="text-center mt-3">
      <p>Já tem uma conta? <a href="/login">Faça login</a></p>
    </div>
  </div>
</div>