.container.observations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.observations-container-list {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300vh;
    padding: 30px;
    box-sizing: border-box;
}

.observations-container {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50vh;
    padding: 30px;
    box-sizing: border-box;
}

.observations-container h2 {
    color: #343a40;
}

.form-group {
    margin-top: 10px;
}

.form-group label {
    color: #343a40;
}

#btn-save {    
    margin-top: 20px;
    margin-left: 20%;
    width: 100px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #218838;
}

.btn-secondary {
    background-color: #c73117;
    border-color: #c73117;
    margin-left: 10%;
    width: 100px;
    margin-top: 20px;
}

.btn-secondary:hover {
    background-color: #962511;
    border-color: #962511;
}

.service {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.service input {
    flex: 1;
    margin-right: 10px;
}

.service button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.service button:hover {
    background-color: #c82333;
}